/.github                        export-ignore
/docs                           export-ignore
/tests                          export-ignore
/.gitattributes                 export-ignore
/.gitignore                     export-ignore
/.php-cs-fixer.dist.php         export-ignore
/.require-checker-config.json   export-ignore
/logo.png                       export-ignore
/Makefile                       export-ignore
/mkdocs.yml                     export-ignore
/phpstan.neon                   export-ignore
/phpunit.xml                    export-ignore
