parameters:
	ignoreErrors:
		-
			message: "#^Binary operation \"\\+\" between int\\|string and 1 results in an error\\.$#"
			count: 1
			path: src/Common/Entity/Row.php

		-
			message: "#^Property OpenSpout\\\\Common\\\\Helper\\\\StringHelper\\:\\:\\$localeInfo type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Common/Helper/StringHelper.php

		-
			message: "#^Method OpenSpout\\\\Reader\\\\Common\\\\Creator\\\\ReaderEntityFactory\\:\\:createCSVReader\\(\\) should return OpenSpout\\\\Reader\\\\CSV\\\\Reader but returns OpenSpout\\\\Reader\\\\ReaderInterface\\.$#"
			count: 1
			path: src/Reader/Common/Creator/ReaderEntityFactory.php

		-
			message: "#^Method OpenSpout\\\\Reader\\\\Common\\\\Creator\\\\ReaderEntityFactory\\:\\:createCSVReader\\(\\) should return OpenSpout\\\\Reader\\\\CSV\\\\Reader but returns null\\.$#"
			count: 1
			path: src/Reader/Common/Creator/ReaderEntityFactory.php

		-
			message: "#^Method OpenSpout\\\\Reader\\\\Common\\\\Creator\\\\ReaderEntityFactory\\:\\:createODSReader\\(\\) should return OpenSpout\\\\Reader\\\\ODS\\\\Reader but returns OpenSpout\\\\Reader\\\\ReaderInterface\\.$#"
			count: 1
			path: src/Reader/Common/Creator/ReaderEntityFactory.php

		-
			message: "#^Method OpenSpout\\\\Reader\\\\Common\\\\Creator\\\\ReaderEntityFactory\\:\\:createODSReader\\(\\) should return OpenSpout\\\\Reader\\\\ODS\\\\Reader but returns null\\.$#"
			count: 1
			path: src/Reader/Common/Creator/ReaderEntityFactory.php

		-
			message: "#^Method OpenSpout\\\\Reader\\\\Common\\\\Creator\\\\ReaderEntityFactory\\:\\:createXLSXReader\\(\\) should return OpenSpout\\\\Reader\\\\XLSX\\\\Reader but returns OpenSpout\\\\Reader\\\\ReaderInterface\\.$#"
			count: 1
			path: src/Reader/Common/Creator/ReaderEntityFactory.php

		-
			message: "#^Method OpenSpout\\\\Reader\\\\Common\\\\Creator\\\\ReaderEntityFactory\\:\\:createXLSXReader\\(\\) should return OpenSpout\\\\Reader\\\\XLSX\\\\Reader but returns null\\.$#"
			count: 1
			path: src/Reader/Common/Creator/ReaderEntityFactory.php

		-
			message: "#^Cannot access offset 0 on callable\\(\\)\\: mixed\\.$#"
			count: 1
			path: src/Reader/Common/XMLProcessor.php

		-
			message: "#^Cannot access offset 1 on callable\\(\\)\\: mixed\\.$#"
			count: 1
			path: src/Reader/Common/XMLProcessor.php

		-
			message: "#^Method OpenSpout\\\\Writer\\\\Common\\\\Creator\\\\WriterEntityFactory\\:\\:createCSVWriter\\(\\) should return OpenSpout\\\\Writer\\\\CSV\\\\Writer but returns OpenSpout\\\\Writer\\\\WriterInterface\\.$#"
			count: 1
			path: src/Writer/Common/Creator/WriterEntityFactory.php

		-
			message: "#^Method OpenSpout\\\\Writer\\\\Common\\\\Creator\\\\WriterEntityFactory\\:\\:createCSVWriter\\(\\) should return OpenSpout\\\\Writer\\\\CSV\\\\Writer but returns null\\.$#"
			count: 1
			path: src/Writer/Common/Creator/WriterEntityFactory.php

		-
			message: "#^Method OpenSpout\\\\Writer\\\\Common\\\\Creator\\\\WriterEntityFactory\\:\\:createODSWriter\\(\\) should return OpenSpout\\\\Writer\\\\ODS\\\\Writer but returns OpenSpout\\\\Writer\\\\WriterInterface\\.$#"
			count: 1
			path: src/Writer/Common/Creator/WriterEntityFactory.php

		-
			message: "#^Method OpenSpout\\\\Writer\\\\Common\\\\Creator\\\\WriterEntityFactory\\:\\:createODSWriter\\(\\) should return OpenSpout\\\\Writer\\\\ODS\\\\Writer but returns null\\.$#"
			count: 1
			path: src/Writer/Common/Creator/WriterEntityFactory.php

		-
			message: "#^Method OpenSpout\\\\Writer\\\\Common\\\\Creator\\\\WriterEntityFactory\\:\\:createXLSXWriter\\(\\) should return OpenSpout\\\\Writer\\\\XLSX\\\\Writer but returns OpenSpout\\\\Writer\\\\WriterInterface\\.$#"
			count: 1
			path: src/Writer/Common/Creator/WriterEntityFactory.php

		-
			message: "#^Method OpenSpout\\\\Writer\\\\Common\\\\Creator\\\\WriterEntityFactory\\:\\:createXLSXWriter\\(\\) should return OpenSpout\\\\Writer\\\\XLSX\\\\Writer but returns null\\.$#"
			count: 1
			path: src/Writer/Common/Creator/WriterEntityFactory.php

		-
			message: "#^Method OpenSpout\\\\Reader\\\\CSV\\\\SpoutTestStream\\:\\:url_stat\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Reader/CSV/SpoutTestStream.php

		-
			message: "#^Method OpenSpout\\\\Reader\\\\XLSX\\\\Manager\\\\StyleManagerTest\\:\\:getStyleManagerMock\\(\\) has parameter \\$customNumberFormats with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Reader/XLSX/Manager/StyleManagerTest.php

		-
			message: "#^Method OpenSpout\\\\Reader\\\\XLSX\\\\Manager\\\\StyleManagerTest\\:\\:getStyleManagerMock\\(\\) has parameter \\$styleAttributes with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Reader/XLSX/Manager/StyleManagerTest.php

		-
			message: "#^Parameter \\#1 \\$rows of method OpenSpout\\\\Writer\\\\WriterAbstract\\:\\:addRows\\(\\) expects array\\<OpenSpout\\\\Common\\\\Entity\\\\Row\\>, array\\<int, array\\<int, string\\>\\> given\\.$#"
			count: 1
			path: tests/Writer/CSV/WriterTest.php

		-
			message: "#^Parameter \\#1 \\$allRows of method OpenSpout\\\\Writer\\\\XLSX\\\\WriterTest\\:\\:writeToXLSXFile\\(\\) expects array\\<OpenSpout\\\\Common\\\\Entity\\\\Row\\>, array\\<int, array\\<int, string\\>\\> given\\.$#"
			count: 1
			path: tests/Writer/XLSX/WriterTest.php

