includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - phpstan-baseline.neon

parameters:
    level: 7
    paths:
        - benchmarks
        - src
        - tests
    ignoreErrors:
        -
            message: "#^Method .+Test::dataProvider.+\\(\\) return type has no value type specified in iterable type array\\.$#"
            paths:
                - tests/
