<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertDeprecationsToExceptions="true"
         defaultTestSuite="unit-tests">

  <php>
    <ini name="error_reporting" value="-1"/>
  </php>

  <testsuites>
    <testsuite name="unit-tests">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>

  <groups>
    <exclude>
      <group>perf-tests</group>
    </exclude>
  </groups>

  <coverage>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
    <exclude>
      <directory>src/Spout/Autoloader</directory>
    </exclude>
  </coverage>

</phpunit>
