<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         cacheDirectory=".phpunit.cache"
>
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="date.timezone" value="UTC"/>
  </php>
  <testsuites>
    <testsuite name="unit-tests">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <report>
      <text outputFile="php://stdout" showOnlySummary="true"/>
      <html outputDirectory="coverage/html"/>
      <xml outputDirectory="coverage/xml"/>
    </report>
  </coverage>
  <logging>
    <junit outputFile="coverage/junit.xml"/>
  </logging>
  <source>
    <include>
      <directory>src/</directory>
    </include>
  </source>
</phpunit>
